# This file is usually kept at the project root.
# For better results, use the .gitignore in the root directory.

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
dist/

# Environment variables
.env
.env.local

# Editor
.vscode/
.idea/
.DS_Store
